$colors: (
    'common': (
        'white': #ffffff,
        'black': #000229,
        'orange':#649C24,
        'purple':#649C24,
        'green':#5FC33B,
        'green-2':#21B641,
        'yellow':#649C24,
        'yellow-2':#649C24,
        'yellow-3':#649C24,
        'yellow-4':#649C24,
        'blue':#6865FF,
        'blue-2':#649C24,
        'blue-3':#649C24,
        'blue-4':#649C24,
        'red':#649C24,
    ),
    'heading': (
        'primary': #000229,
    ),
    'grey': (
        '1':#5F6368,
        '2':#9A9DA7,
        '3':#F5F5F5,
        '4':#F2F3F5,
        '5':#888B95,
        '6':#EEEEF5,
        '7':#F6F5FA,
        '8':#F7F9FB,
    ),
    'text': (
        'body':#5F6368,
    ),
    'theme': (
        '1': #649C24,
        '2': #649C24,
        '3': #649C24,
        '4': #649C24,
    ),
    'border': (
        '1':#EDF5FA,
        '2':#EBECF0,
    )
);

